@model UserRolesManageViewModel
@{
    Layout = null;
}
<h3 style="text-align:center">Roles</h3>
<input type="hidden" id="userId" value="@Model.UserId" />
<div class="container">
    <div class="row">
        <hr class="col-md-2 col-md-offset-3" />
    </div>
    <div class="row">
        @foreach (var item in Model.Roles)
        {
            <div class="col-md-4">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="@item.RoleName" checked="@item.IsActive">
                    <label class="custom-control-label" for="@item">@item.RoleName</label>
                </div>
            </div>
        }
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-6">
            <button class="btn-primary form-control" id="back" onclick="getUsersGrid('@Url.Action("GetUsersGrid", "Manage")','@Model.VmPrevious.Text','@Model.VmPrevious.Sort','@Model.VmPrevious.Ascending','@Model.VmPrevious.Page','@Model.VmPrevious.PageSize')">Atras</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $(":checkbox").change(function (){
            var roleName = $(event.target).attr('id');
            updateUserRole('@Url.Action("UpdateUserRole", "Manage")', $("#userId").val(), roleName);
    });
    });
</script>